{:paths ["src"]

 :deps
 {cc.qbits/commons {:mvn/version "1.0.0-alpha6"}}

 :aliases
 {:dev
  {:extra-paths ["build.clj"]}

  :test
  {:extra-paths ["dev" "test"]
   :extra-deps  {com.exoscale/eftest {:mvn/version "1.0.0"}}
   :exec-fn     test-runner/run
   :jvm-opts    ["--enable-preview"]}

  :build
  {:deps       {io.github.clojure/tools.build {:mvn/version "0.10.9"}
                slipset/deps-deploy           {:mvn/version "0.2.2"}}
   :ns-default build}}}
